@mixin construct_button-sizes($selector:'.button', $height:$button-height, $gutter:$button-gutter, $border-width: $button-border-width, $disableBorder:false) {
	#{$selector} {
		height: $height;

		@if $disableBorder == false {
			@if $gutter > 0 {
				padding: 0 $gutter;
			}

			@if $button-border == none {
				line-height: $height;
			} @else {
				line-height: $height - ($border-width * 2);
			}

			@if $button-glyph == true {
				&.button--glyph {
					text-align: left;
					position: relative;
					@if $button-glyph-default-position == 'left' {
						padding-right: $gutter;
						padding-left: $height;
					} @else {
						padding-right: $height;
						padding-left: $gutter;
					}

					&.button--glyph-reverse {
						@if $button-glyph-default-position == 'left' {
							padding-right: $height;
							padding-left: $gutter;
						} @else {
							padding-right: $gutter;
							padding-left: $height;
						}
					}
				}

				.button-glyph-placeholder {
					width: $height;
				}
			}

			@if $button-square == true {
				&.button--square {
					width: $height;
					padding: 0;
				}
			}
		} @else {
			height: $height;
			line-height: $height;
		}
	}
}

@mixin construct_button-styles($selector, $background-color, $background-color--hover, $background-color--active, $border-color, $border-color--hover, $border-color--active, $color, $color--hover, $color--active, $glyph-color:false, $glyph-color--hover:false, $glyph-color--active:false) {
	#{$selector} {
		@if $background-color != false {
			background-color: $background-color;
		}

		@if $border-color != false {
			border-color: $border-color;
		} @else {
			border: 0;
		}

		@if $color != false {
			color: $color;

			@if $button-glyph == true {
				@if $glyph-color == false {
					$glyph-color: $color;
				}

				.button-glyph {
					fill: $glyph-color;
					color: $glyph-color;
				}
			}
		}

		.no-touchevents &:hover {
			@if $background-color--hover != false {
				background-color: $background-color--hover;
			}
			@if $border-color--hover != false {
				border-color: $border-color--hover;
			}
			@if $color--hover != false {
				color: $color--hover;

				@if $button-glyph == true {
					@if $glyph-color--hover == false {
						$glyph-color--hover: $color--hover;
					}

					.button-glyph {
						fill: $glyph-color--hover;
						color: $glyph-color--hover;
					}
				}
			} @else {
				color: $color;

				@if $button-glyph == true {
					@if $glyph-color == false {
						$glyph-color: $color;
					}

					.button-glyph {
						fill: $glyph-color;
						color: $glyph-color;
					}
				}
			}

		}

		.no-touchevents &:active,
		.no-touchevents &.button--active {
			@if $background-color--active != false {
				background-color: $background-color--active;
			}
			@if $border-color--active != false {
				border-color: $border-color--active;
			}
			@if $color--active != false {
				color: $color--active;

				@if $button-glyph == true {
					@if $glyph-color--active == false {
						$glyph-color--active: $color--active;
					}

					.button-glyph {
						fill: $glyph-color--active;
						color: $glyph-color--active;
					}
				}
			} @else {
				color: $color;

				@if $button-glyph == true {
					@if $glyph-color == false {
						$glyph-color: $color;
					}

					.button-glyph {
						fill: $glyph-color;
						color: $glyph-color;
					}
				}
			}
		}
	}
}
