$buttons: (
	'a',
	'input',
	'button'
);

$button-font-family:				inherit !default;
$button-font-weight:				700 !default;
$button-font-style:					normal !default;

$button-transitions:				true !default;
$button-glyph:						true !default;
$button-glyph-width:				24px !default;
$button-glyph-default-position:		'right' !default;
$button-glyph-text-align:			'left' !default;
$button-square: 					true !default;