@mixin core_button {
	#{$buttons} {
		&#{$button} {
			position: relative;
			display: inline-block;
			padding: 0;
			margin: 0;
			vertical-align: middle;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			background: none transparent;
			cursor: pointer;
			color: inherit;
			border: none;
			white-space: nowrap;
			line-height: 1;

			@at-root input {
				&#{$button} {
					white-space: normal;
				}
			}

			// &:before {
			// 	height: inherit;
			// 	display: inline-block;
			// 	vertical-align: middle;
			// 	content: " ";
			// 	width: 0;
			// }

			@if $button-font-family != false {
				font-family: $button-font-family;
			}
			@else {
				font-family: inherit;
			}

			@if $button-font-family != false {
				font-weight: $button-font-weight;
			} @else {
				font-style: normal;
			}

			@if $button-font-weight != false {
				font-style: $button-font-style;
			} @else {
				font-style: normal;
			}

			@include appearance(none);
			@include user-select(none);

			@if $button-transitions == true {
				@include transition(
					(background $button-transition-speed $button-transition-timing $button-transition-delay),
					(color $button-transition-speed $button-transition-timing $button-transition-delay),
					(border-color $button-transition-speed $button-transition-timing $button-transition-delay)
				);
			}

			&,
			&:focus,
			&:active,
			&:hover,
			.no-touchevents &:hover {
				text-decoration: none;
			}

			&#{$button--disabled} {
				cursor: not-allowed;
			}

			&#{$button--full-width} {
				display: block;
				width: 100%;
			}
		}
	}

	@if $button-wrapper != false {
		#{$button-wrapper} {
			display: inline-block;
			white-space: normal;
			vertical-align: middle;
		}
	}

	@if $button-glyph !=  false {
		#{$button-glyph} {
			vertical-align: middle;
			line-height: normal;
			display: inline-block;
			margin: 0;
			padding: 0;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			fill: inherit;
			width: 100%;
			height: 100%;

			&:before,
			&:after {
				margin: 0;
				padding: 0;
			}

			@if $button-transitions == true {
				@if $button-transitions == true {
					@include transition(
						(fill $button-transition-speed $button-transition-timing $button-transition-delay)
					);
				}
			}
		}
	}

	@if $button-glyph-wrapper != false {
		#{$button-glyph-wrapper} {
			white-space: normal;
			vertical-align: middle;
			display: inline-block;
			line-height: 1;
			text-align: center;

			@if $button-glyph != false {
				#{$button-glyph} {
					margin: 0;
				}
			}

			#{$button--fixed-glyph} & {
				display: block;
				position: absolute;
				top: 0;

				@if unquote($button-glyph-wrapper-default-position) != right {
					left: 0;
				} @else {
					right: 0;
				}

				&#{$button-glyph-wrapper--reverse} {
					@if unquote($button-glyph-wrapper-default-position) != right {
						right: 0;
						left: auto;
					} @else {
						left: 0;
						right: auto;
					}
				}
			}

			#{$button--fixed-glyph-reverse} & {
				@if unquote($button-glyph-wrapper-default-position) != right {
					right: 0;
					left: auto;
				} @else {
					left: 0;
					right: auto;
				}

				&#{$button-glyph-wrapper--reverse} {
					@if unquote($button-glyph-wrapper-default-position) != right {
						left: 0;
						right: auto;
					} @else {
						right: 0;
						left: auto;
					}
				}
			}
		}
	}

	@if $button--square != false {
		&#{$button--square} {
			text-align: center !important;
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}