@import "mixins/button-height";
@import "mixins/button-style";

@mixin core_button {
	#{$buttons} {
		&.button {
			display: inline-block;
			padding: 0;
			margin: 0;
			vertical-align: middle;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			background: none transparent;
			cursor: pointer;
			color: inherit;
			border: none;

			font-family: $button-font-family;
			font-weight: $button-font-weight;
			font-style: $button-font-style;

			@include appearance(none);
			@include user-select(none);

			@if $button-transitions == true {
				@include transition(
					(background $transition-fast ease-out 0s),
					(color $transition-fast ease-out 0s),
					(border-color $transition-fast ease-out 0s)
				);
			}

			&,
			&:focus,
			&:active,
			&:hover,
			.no-touchevents &:hover {
				text-decoration: none;
			}

			@if $button-glyph == true {
				&.button--glyph {
					position: relative;
				}
			}
		}

		&.button--disabled,
		&[disabled] {
			cursor: not-allowed;
		}

		&.button--wide {
			display: block;
			width: 100%;
		}
	}

	@if $button-glyph == true {
		.button-glyph-placeholder {
			position: absolute;
			display: block;
			top: 0;
			bottom: 0;
			text-align: center;
			line-height: inherit;

			@if $button-glyph-default-position == 'left' {
				left: 0;

				.button--glyph-reverse & {
					right: 0;
					left: auto;
				}
			} @else {
				right: 0;

				.button--glyph-reverse & {
					right: auto;
					left: 0;
				}
			}
		}

		.button-glyph {
			vertical-align: baseline;
			line-height: normal;
			display: inline-block;
			margin: 0;
			padding: 0;
			top: auto;

			@if $button-transitions == true {
				@include transition(
					(fill $transition-fast ease-out 0s),
					(color $transition-fast ease-out 0s)
				);
			}

			&:before,
			&:after {
				margin: 0;
				padding: 0;
			}
		}
	}
}