@mixin button-height(
	$selector: '.button',
	$height: $button-height,
	$line-height: $button-line-height,
	$gutter: $button-gutter,
	$glyph-width: $button-glyph-width
) {
	#{$buttons} {
		&#{$selector} {
			@if $height != false {
				height: $height;
			}
			@if $line-height != false {
				line-height: $line-height;
			}
			@if $gutter != false {
				padding-right: $gutter;
				padding-left: $gutter;
			}

			@if $button-glyph == true and $glyph-width != false {
				@if $button-glyph-center == true {
					&.button--glyph {
						padding-left: $glyph-width;
						padding-right: $glyph-width;
					}
				} @else {
					&.button--glyph {
						text-align: left;

						@if $button-glyph-default-position == 'right' {
							padding-right: $glyph-width;
							padding-left: $gutter;

							&.button--glyph-reverse {
								padding-right: $gutter;
								padding-left: $glyph-width;
							}
						}
						@else {
							padding-right: $gutter;
							padding-left: $glyph-width;

							&.button--glyph-reverse {
								padding-right: $glyph-width;
								padding-left: $gutter;
							}
						}
					}
				}

				.button-glyph-placeholder {
					width: $glyph-width;
				}
			}

			@if $button-square == true {
				&.button--square {
					width: $height;
					padding: 0;
				}
			}
		}
	}
}