@mixin button-layout(
	$selector: $button,
	$height: false,
	$inner-height: false,
	$line-height: false,
	$gutter: false,
	$glyph-wrapper-width: false
) {
	#{$buttons} {
		&#{$selector} {
			@if $height !=  false {
				height: $height;
			}

			@if $inner-height != false {
				&:before {
					height: $inner-height;
				}

				#{$button-glyph} {
					max-width: $inner-height;
					max-height: $inner-height;
				}

				#{$button-glyph-wrapper} {
					height: $inner-height;
				}
			}

			@if $line-height != false {
				line-height: $line-height;
			}

			@if $gutter !=  false {
				padding-left: $gutter;
				padding-right: $gutter;
			}

			@if $glyph-wrapper-width {
				&#{$button--fixed-glyph} {
					@if unquote($button-glyph-wrapper-default-position) != right {
						padding-left: $glyph-wrapper-width;
					} @else {
						padding-right: $glyph-wrapper-width;
					}

					#{$button-glyph-wrapper} {
						width: $glyph-wrapper-width;
					}
				}

				&#{$button--fixed-glyph-double} {
					@if unquote($button-glyph-wrapper-default-position) != right {
						padding-right: $glyph-wrapper-width;
					} @else {
						padding-left: $glyph-wrapper-width;
					}
				}

				&#{$button--fixed-glyph-reverse} {
					@if unquote($button-glyph-wrapper-default-position) != right {
						padding-right: $glyph-wrapper-width;
						@if $gutter != false {
							padding-left: $gutter;
						}

					} @else {
						padding-left: $glyph-wrapper-width;
						@if $gutter !=  false {
							padding-right: $gutter;
						}
					}
				}
			}

			@if $button--square != false {
				&#{$button--square} {
					@if $height !=  false {
						width: $height;
					}

					@if $inner-height != false {
						line-height: $inner-height;
					}
				}
			}

			@if $button--rounded != false {
				&#{$button--rounded} {
					@if $height != false {
						border-radius: $height / 2;
					}
				}
			}
		}
	}
}