@mixin button-style(
	$selector: $button,
	$background: false,
	$background--hover: false,
	$background--active: false,
	$border: false,
	$border-color--hover: false,
	$border-color--active: false,
	$border-radius: false,
	$border-radius--hover: false,
	$border-radius--active: false,
	$box-shadow: false,
	$box-shadow--hover: false,
	$box-shadow--active: false,
	$color: false,
	$color--hover: false,
	$color--active: false,
	$glyph-color: false,
	$glyph-color--hover: false,
	$glyph-color--active: false,
	$text-align: false
) {
	#{$buttons} {
		&#{$selector} {
			@if $background != false {
				background: $background;
			}

			@if $border != false {
				border: $border;
			}

			@if $border-radius {
				border-radius: $border-radius;
			}

			@if $box-shadow {
				box-shadow: $box-shadow;
			}

			@if $color != false {
				color: $color;
			}

			@if $glyph-color != false {
				fill: $glyph-color;
			}


			@if $text-align != false {
				text-align: $text-align;
			}

			.no-touchevents &:not([class*="disabled"]):hover {
				@if $background--hover != false {
					background: $background--hover;
				}

				@if $border-color--hover != false {
					border-color: $border-color--hover;
				}

				@if $border-radius--hover {
					border-radius: $border-radius--hover;
				}

				@if $box-shadow--hover {
					box-shadow: $box-shadow--hover;
				}

				@if $color--hover != false {
					color: $color--hover;
				}

				@if $glyph-color--hover != false{
					fill: $glyph-color--hover;
				}
			}

			.no-touchevents &:not([class*="disabled"]):active,
			&#{$button--active} {
				@if $background--active != false {
					background: $background--active;
				}

				@if $border-color--active != false {
					border-color: $border-color--active;
				}


				@if $border-radius--active {
					border-radius: $border-radius--active;
				}

				@if $box-shadow--hover {
					box-shadow: $box-shadow--hover;
				}

				@if $color--active != false {
					color: $color--active;
				}

				@if $glyph-color--active != false {
					fill: $glyph-color--active;
				}
			}
		}
	}
}